<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.one.whospet.dao.mypage.face.MypageDao">
  
	<!-- 유저 DTO 재정의  -->
	<resultMap type="com.one.whospet.dto.User" id="User">
		<id column="U_No" property="uNo"/>
		
		<result column="U_GRADE" property="uGrade"/>
		<result column="U_ID" property="uId"/>
		<result column="U_PW" property="uPw"/>
		<result column="U_NAME" property="uName"/>
		<result column="U_PHONE" property="uPhone"/>
		<result column="U_NICK" property="uNick"/>
		<result column="U_EMAIL" property="uEmail"/>
		<result column="U_ADDRESS" property="uAddress"/>
		<result column="U_POST" property="uPost"/>
		<result column="U_DETAIL_ADDRESS" property="uDetailAddress"/>
		<result column="U_PET" property="uPet"/>
		<result column="U_JOIN_DATE" property="uJoinDate"/>
	</resultMap>
	
	<!-- 유저픽 DTO 재정의  -->
	<resultMap type="com.one.whospet.dto.Userpic" id="Userpic">
		<id column="UPIC_NO" property="upicNo"/>
		<result column="U_NO" property="uNo"/>
		<result column="UPIC_ORINAME" property="upicOriname"/>
		<result column="UPIC_STONAME" property="upicStoname"/>
	</resultMap>
	
	<!-- 보드 DTO 재정의  -->
	<resultMap type="com.one.whospet.dto.Board" id="Board">
		<id column="b_no" property="bNo"/>
		
		<result column="b_title" property="bTitle"/>
		<result column="b_content" property="bContent"/>
		<result column="b_write_date" property="bWriteDate"/>
		<result column="b_update_date" property="bUpdateDate"/>
		<result column="b_hit" property="bHit"/>
		<result column="b_type" property="bType"/>
		<result column="u_no" property="uNo"/>
	</resultMap>
	
	<!-- 예약  DTO 재정의  -->
	<resultMap type="com.one.whospet.dto.Booking" id="Booking">
		<id column="book_no" property="bookNo"/>
		
		<result column="u_no" property="uNo"/>
		<result column="h_no" property="hNo"/>
		<result column="book_status" property="bookStatus"/>
		<result column="book_date" property="bookDate"/>
		<result column="book_hour" property="bookHour"/>
		<result column="book_pet_info" property="bookPetInfo"/>
		<result column="book_text" property="bookText"/>
		<collection property="hospital" resultMap="Hospital"/>
	</resultMap>
	
	<!-- 병원 DTO 재정의  -->
  	<resultMap type="com.one.whospet.dto.Hospital" id="Hospital">
  		<id column="h_no" property="hNo" />
  		<result column="u_no" property="uNo" />
  		<result column="h_adcheck" property="hAdcheck" />
  		<result column="h_name" property="hName" />
  		<result column="h_road_address" property="hRoadAddress" />
  		<result column="h_detail_address" property="hDetailAddress" />
  		<result column="h_hour" property="hHour" />
  		<result column="h_tel" property="hTel" />
  		<result column="h_info" property="hInfo" />
  		<result column="h_request_date" property="hRequestDate" />
  		<result column="h_enroll_date" property="hEnrollDate" />
  		<result column="h_hit" property="hHit" />
  	</resultMap>
  	
  	<!-- 포인트 DTO 재정의  -->
  	<resultMap type="com.one.whospet.dto.Point" id="Point">
  		<id column="po_no" property="poNo" />
  		<result column="u_no" property="uNo" />
  		<result column="s_no" property="sNo" />
  		<result column="po_plus" property="poPlus" />
  		<result column="po_minus" property="poMinus" />
  		<result column="po_plus_y" property="poPlusY" />
  		<result column="po_minus_y" property="poMinusY" />
  		<result column="po_date" property="poDate" />
  		<result column="po_sum" property="poSum" />
  	</resultMap>
  	
	<!-- 샵 DTO 재정의 -->
	<resultMap type="com.one.whospet.dto.Shop" id="Shop">
		<id column="s_no" property="sNo"/>
		
		<result column="u_no" property="uNo"/>
		<result column="s_name" property="sName"/>
		<result column="s_productType" property="sProductType"/>
		<result column="s_amount" property="sAmount"/>
		<result column="s_quantity" property="sQuantity"/>
		<result column="s_date" property="sDate"/>
		<result column="s_content" property="sContent"/>
		
	</resultMap>
		<!-- 샵이미지 재정의 -->
	<resultMap type="com.one.whospet.dto.ShopImg" id="ShopImg">
		<id column="si_no" property="siNo"/>
		
		<result column="s_no" property="sNo"/>
		<result column="si_origin_filename" property="siOriginFilename"/>
		<result column="si_stored_filename" property="siStoredFilename"/>
		<result column="si_thumbnail" property="siThumbnail"/>
	</resultMap>
	
	<!-- 샵바스켓DTO 재정의 -->
		<resultMap type="com.one.whospet.dto.ShopBasket" id="ShopBasket">
		<id column="sb_no" property="sbNo"/>
		
		<result column="u_no" property="uNo"/>
		<result column="s_no" property="sNo"/>
		<result column="si_no" property="siNo"/>
		<result column="sb_amount" property="sbAmount"/>
		<result column="sb_quantity" property="sbQuantity"/>
		<collection property="shop" resultMap="Shop"/>
		<collection property="shopImg" resultMap="ShopImg"/>
	</resultMap>
	
	<!-- 결제DTO 재정의 -->
		<resultMap type="com.one.whospet.dto.Payment" id="Payment">
		<id column="py_no" property="pyNo"/>
		
		<result column="u_no" property="uNo"/>
		<result column="po_no" property="poNo"/>
		<result column="py_date" property="pyDate"/>
		<result column="py_status" property="pyStatus"/>
		<result column="py_amount" property="pyAmount"/>
		<result column="py_method" property="pyMethod"/>
		<result column="py_apply_num" property="pyApplyNum"/>
		<result column="imp_uid" property="impUid"/>
		<result column="merchant_uid" property="merchantUid"/>
		<collection property="shop" resultMap="Shop"/>
		</resultMap>
		
		
		<!-- 주문DTO 재정의 -->
		<resultMap type="com.one.whospet.dto.Order" id="Order">
		<id column="o_no" property="oNo"/>
		
		<result column="u_no" property="uNo"/>
		<result column="s_no" property="sNo"/>
		<result column="py_no" property="pyNo"/>
		<result column="o_name" property="oName"/>
		<result column="o_quantity" property="oQuantity"/>
		<result column="o_amount" property="oAmount"/>
		<result column="o_totalAmount" property="oTotalAmount"/>
		<result column="o_sender" property="oSender"/>
		<result column="o_recipient" property="oRecipient"/>
		<result column="o_eamil" property="oEmail"/>
		<result column="o_postNo" property="oPostNo"/>
		<result column="o_address" property="oAddress"/>
		<result column="o_detailAddress" property="oDetailAddress"/>
		<result column="o_date" property="oDate"/>
		<result column="o_status" property="oStatus"/>
		</resultMap>
		

		<!-- 구매이력DTO 재정의 -->
		<resultMap type="com.one.whospet.dto.ShopHistory" id="ShopHistory">
		<id column="sh_no" property="shNo"/>
		
		<result column="o_no" property="oNo"/>
		<result column="u_no" property="uNo"/>
		<result column="py_no" property="pyNo"/>
		<result column="sh_amount" property="shAmount"/>
		<result column="sh_date" property="shDate"/>
		<result column="sh_status" property="shStatus"/>
		<collection property="shop" resultMap="Shop"/>
		<collection property="payment" resultMap="Payment"/>
		</resultMap>
	
  
  	<select id="selectUserinfo" parameterType="com.one.whospet.dto.User" resultMap="User">
	SELECT * FROM W_USER WHERE U_No = #{uNo }
	</select>
	
	<insert id="insertFile" parameterType="com.one.whospet.dto.User">
		
	<selectKey order="BEFORE" resultType="int" keyProperty="upicNo">
			SELECT w_user_pic_seq.nextval FROM dual
	</selectKey>
		
		INSERT INTO w_user_pic ( upic_no, u_no, upic_oriname, upic_stoname )
		VALUES ( #{upicNo }, #{uNo }, #{upicOriname }, #{upicStoname } )
	</insert>
	
	<select id="selectPicByUNo" parameterType="com.one.whospet.dto.User" resultMap="Userpic">
	SELECT * FROM W_USER_PIC WHERE U_No = #{uNo }
	</select>
	
	<delete id="deleteUserPic" parameterType="com.one.whospet.dto.User">
		DELETE FROM w_user_pic
		WHERE U_No = #{uNo }
	</delete>
	
	<update id="updateUser">
		UPDATE w_user SET u_pw = #{uPw }, u_nick = #{uNick }, u_phone = #{uPhone }, u_email = #{uEmail }, u_address = #{uAddress }  WHERE u_no = #{uNo }
	</update>
	
	<select id="selectUserCnt" parameterType="com.one.whospet.dto.User" resultType="int">
		SELECT COUNT(*) FROM w_user WHERE u_no = #{uNo } and u_pw = #{uPw }
	</select>
	
	<delete id="deleteUser" parameterType="com.one.whospet.dto.User">
		DELETE FROM w_user WHERE U_No = #{uNo }
	</delete>

	<select id="selectBoardCntAll" parameterType="hashmap" resultType="int">
		SELECT COUNT(*) FROM w_board WHERE u_no = #{uNo }
	</select>
	
	<select id="selectBookingCntAll" parameterType="hashmap" resultType="int">
		SELECT COUNT(*) FROM w_booking WHERE u_no = #{uNo }
	</select>
	
	<select id="selectPointCntAll" parameterType="hashmap" resultType="int">
		SELECT COUNT(*) FROM w_point WHERE u_no = #{uNo }
	</select>
	
	<select id="selectAllBoard" resultMap="Board">
			SELECT * FROM (
				SELECT rownum rnum, B.* FROM (
					SELECT * FROM w_board 
					WHERE u_no = #{uNo }
					ORDER BY b_No DESC
					) B
					) w_BOARD
				WHERE rnum BETWEEN #{paging.startNo } AND #{paging.endNo }
	</select>
	
	<select id="selectAllBooking" parameterType="hashmap" resultMap="Booking">
				SELECT * FROM (
				SELECT rownum rnum, B.* FROM (
					SELECT * FROM w_booking
                    FULL OUTER JOIN w_hospital ON (w_hospital.h_no = w_booking.h_no)
					WHERE w_booking.u_no = #{uNo }
					ORDER BY book_No DESC
					) B
					) BOARD
				WHERE rnum BETWEEN #{paging.startNo } AND #{paging.endNo }
	</select>
	
	<select id="selectBookingByBookno" parameterType="int" resultMap="Booking">

					SELECT * FROM w_booking
                    FULL OUTER JOIN w_hospital ON (w_hospital.h_no = w_booking.h_no)
					WHERE w_booking.book_no = #{bookNo }
					
	</select>
	
	<update id="updateBookingCancel" parameterType="com.one.whospet.dto.Booking">
					UPDATE w_booking
					SET book_status = 'N'
					WHERE book_no = #{bookNo }
	</update>
	<select id="selectAllPoint" parameterType="hashmap" resultMap="Point">
			SELECT * FROM (
				SELECT rownum rnum, B.* FROM (
					SELECT * FROM w_point 
					WHERE u_no = #{uNo }
					ORDER BY po_no ASC
					) B
					) w_BOARD
				WHERE rnum BETWEEN #{paging.startNo } AND #{paging.endNo }
	</select>
	
	<select id="selectLastPoint" parameterType="int" resultMap="Point">
		SELECT * FROM (SELECT * FROM w_point WHERE u_no = #{uNo } ORDER BY po_no DESC) WHERE ROWNUM = 1
	</select>
	
	
	<select id="selectHospitalCntAll" resultType="int">
		SELECT COUNT(*) FROM w_hospital
	</select>
	
	<select id="selectAllHospital" resultMap="Hospital">
			
		SELECT * FROM (
			SELECT rownum rnum, B.* FROM (
					SELECT *FROM w_hospital 
					ORDER BY h_no DESC
						) B
					) BOARD
				WHERE rnum BETWEEN #{startNo } AND #{endNo }

	</select>
	
	<select id="selectHosBookingCntAll" resultType="int">
		SELECT COUNT(*) FROM w_booking
	</select>
	
	<select id="selectAllHosBooking" resultMap="Booking">
			
				SELECT * FROM (
				SELECT rownum rnum, B.* FROM (
					SELECT * FROM w_booking
                    LEFT OUTER JOIN w_hospital ON (w_hospital.h_no = w_booking.h_no)
					ORDER BY book_No DESC
					) B
					) BOARD
				WHERE rnum BETWEEN #{startNo } AND #{endNo }

	</select>
	
	<delete id="deleteHospitals" parameterType="hashmap">
	  	DELETE FROM w_hospital WHERE h_no IN
	<foreach collection="hNoArr"  item="hNo" open="(" close=")" separator=" , ">
	#{hNo}
	</foreach>
	</delete>
	
	<update id="updateBookingStatusY" parameterType="com.one.whospet.dto.Booking">
		UPDATE w_booking SET book_status = 'Y' WHERE book_no = #{bookNo }
	</update>
	
	<update id="updateBookingStatusN" parameterType="com.one.whospet.dto.Booking">
		UPDATE w_booking SET book_status = 'N' WHERE book_no = #{bookNo }
	</update>
	
	<select id="selectBasketCntAll" parameterType="hashmap" resultType="int">
		SELECT COUNT(*) FROM w_shop_basket WHERE u_no = #{uNo }
	</select>
	
	<select id="selectAllBasket" parameterType="hashmap" resultMap="ShopBasket">
			
		SELECT * FROM (
			SELECT rownum rnum, B.* FROM (
					SELECT *FROM w_shop_basket 
				    FULL OUTER JOIN w_shop ON (w_shop.s_no = w_shop_basket.s_no)
				    FULL OUTER JOIN w_shop_img On (w_shop_img.s_no = w_shop_basket.s_no)
					WHERE w_shop_basket.u_no = #{uNo }
					ORDER BY sb_no DESC
						) B
					) BOARD
				WHERE rnum BETWEEN #{paging.startNo } AND #{paging.endNo }

	</select>
	
	<select id="selectSumBasket" parameterType="hashmap" resultType="Integer">
		SELECT SUM((sb_amount * sb_quantity)) FROM w_shop_basket GROUP BY u_no HAVING u_no = #{uNo }
	</select>
	
	<delete id="deleteBasket" parameterType="int">
		DELETE FROM w_shop_basket
		WHERE sb_No = #{sbNo }
	</delete>
	
	
	<update id="updatePlusBasket" parameterType="int">
		UPDATE w_shop_basket SET sb_quantity = sb_quantity + 1
		WHERE sb_No = #{sbNo }
	</update>

	<update id="updateMinusBasket" parameterType="int">
		UPDATE w_shop_basket SET sb_quantity = sb_quantity - 1
		WHERE sb_No = #{sbNo }
	</update>

	<select id="selectCntAll" parameterType="com.one.whospet.util.MypageBoardPaging" resultType="int">
		SELECT COUNT(*) FROM w_payment WHERE u_no = #{uNo }
	</select>
	
	<select id="selectOrderByUNo" parameterType="com.one.whospet.util.MypageBoardPaging" resultType="HashMap">
		<!-- SELECT * FROM W_ORDER
	    WHERE u_no = #{uNo}
	    ORDER BY o_no desc -->
	    
	    SELECT p.py_status,o.* FROM W_ORDER o, W_PAYMENT p
	    WHERE o.u_no = #{uNo} AND o.py_no = p.py_no
	    ORDER BY o.o_no desc
	</select>
	
  </mapper>